App/.settings/org.eclipse.buildship.core.prefs
/shelf/
/workspace.xml

*.iml
.gradle
/local.properties
/.idea/misc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.vscode/settings.json
